<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- Enables the Spring MVC @Controller programming model -->
	<mvc:annotation-driven/>
	
	<!-- Escanea todos los controladores y etiquetas de component en los paquetes -->
	<context:component-scan base-package="mx.com.myInventory.controller"/>
	
	<!-- Se encarga de ubicar la interfaz correcta para la vista -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">    
		<property name="prefix" value="/"></property>    
		<property name="suffix" value=".jsp"></property>    
	</bean>
	
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
	    <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	    <property name="username" value="system"/>
	    <property name="password" value="12345"/>
	</bean>
	
	<!-- SessionFactory from Hibernate 4 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
	    <property name="dataSource" ref="dataSource" />
	    <!--<property name="configLocation" value="../src/hibernate.cfg.xml" />-->
	    <property name="annotatedClasses">
	    	<list>
	    		<value>mx.com.myInventory.entity.Product</value>
	    		<value>mx.com.myInventory.entity.Usuario</value>
	    	</list>
	    </property>
	    <property name="hibernateProperties">
	    	<props>
	    		<prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop>
	    		<prop key="hibernate.show_sql">true</prop>
	    	</props>
	    </property>
	</bean>

	<!-- Beans of the applications -->
	<bean id="productDAO" class="mx.com.myInventory.dao.ProductDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="productService" class="mx.com.myInventory.service.ProductServiceImpl" >
		<property name="productDAO" ref="productDAO"></property>
	</bean>
	
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- Recordar proxy-target cuando da error de clase tipo proxy por @transactional
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/> -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
